@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="mb-8 text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<br>
<div class="text-left">
    <p>This is a demonstration of creating an article nomenclature, utilizing ASP.NET Core and Razor Pages.<br>
        This application should follow the Model-View-ViewModel (MVVM) pattern, which should help facilitate the separation of the application's business and presentation logic from its user interface (UI).
    </p>

    <br>
    <p>To learn more about the mentioned technologies please check the links below:</p>
    <ul>
        <li><p>Learn about building Web apps with <a href="https://docs.microsoft.com/aspnet/core">ASP.NET Core</a>.</p></li>
        <li><p>Learn about <a href="https://learn.microsoft.com/en-us/aspnet/core/razor-pages">Razor Pages</a> in ASP.NET Core.</p></li>
    </ul>
</div>
    


