@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<hr>
<br>
<p>This is just a demo application of an article nomenclature.<br>
    All rights reserved &copy;Tilinschi Lucian 2023 - NomenclatureDemo.<br>
    <br>
    Contact info: lucian.tilinschi@gmail.com
</p>
